*{
  font-family: 'Red Hat Text',Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  color: hsl(237, 18%, 59%);
  --Soft-red: hsl(345, 95%, 68%);
  --Very-dark-blue: hsl(235, 16%, 14%);
  --Very-darkest-blue: hsl(234, 17%, 12%)
}

body {
  width: 100%;
  height: 100vh;
  background-image: url(/public/images/bg-stars.svg);
  background-color: var(--Very-darkest-blue);
  display: flex;
  justify-content: center;
  align-items: center;
}

p{
  font-size: 14px;
  font-weight: 700;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.time {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.time>p{
  font-size: 2rem;
}

.time>div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.time>div>p:first-child{
  font-size: 4rem;
}
.time>div>p:last-child{
  font-size: 0.8rem;
}

.name {
  display: flex;
  gap: 4rem;
}